---
import Layout from '../layouts/Layout.astro';

import Passage from '@passageidentity/passage-node';


const passage = new Passage({
    appID: import.meta.env.PUBLIC_PASSAGE_APP_ID,
    apiKey: import.meta.env.PASSAGE_API_KEY,
});

let appName = 'this app';
try {
const { name } = await passage.getApp();
appName = name;
} catch (e) {
    console.error(e);
}
---

<Layout title="Auth">
	<main>
		<h1>you need to login to {appName}</h1>
    </main>
</Layout>